<header id="fh5co-header" role="banner">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="col-md-12">
					<div class="navbar-header"> 
					<!-- Mobile Toggle Menu Button -->
					<a class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
					<a class="navbar-brand" [routerLink]="onLoginPage ? '/login' : username + '/' + menuItems[0].link">{{ user.blogName || 'Varta' }}</a>
					</div>

					<!--Menu when not on login page-->
					<div *ngIf="!onLoginPage" id="fh5co-navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li *ngFor="let menuItem of menuItems" [ngClass]="{'active': activeMenuItem == menuItem }"><a (click)="activateMenuItem(menuItem.title);" [routerLink]="'/' + username + '/' + menuItem.link"><span>{{ menuItem.title }} <span class="border"></span></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>
<!-- END .header -->