
<!--Spinner-->
<div class="loading" *ngIf="showSpinner">
    <div class="loading-div-logo">
        <img class="loading-logo" [src]="dirs.images + 'logo.png'">
    </div>
</div>

<div id="fh5co-main">
	<div class="cover text-center" [ngStyle]="{'background-image': 'url(' + dirs.images + 'varta.jpg' + ')', 'background-position': 'center center'}">
		<div class="container-fluid text-center card-heading">
			<div class="row">
				<div class="col-md-8 col-md-offset-2" *ngIf="accountAlreadyExists">
					<h1 class="intro-lead">Admin Panel</h1>
					<p class="">This is your admin panel.</p>
				</div>

				<form [formGroup]="manageArticlesForm" *ngIf="accountAlreadyExists" (ngSubmit)="verifyKeyManageArticles()">
					<div class="col-md-8 col-md-offset-2 text-center">
						<p *ngIf="!adminAuthenticated">Enter the VartaKey corresponding to this blog website.</p>
					</div>

					<div class="col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5" *ngIf="!adminAuthenticated">
						<div class="form-group text-center">
							<label for="key">VartaKey <span class="text-warning"><strong>*</strong></span></label>
							<input type="text" class="form-control  text-center" formControlName="key" aria-describedby="key" placeholder="Your secret key">
							<div class="alert alert-danger" *ngIf="manageArticlesForm.controls['key'].hasError('required') && manageArticlesForm.controls['key'].touched">You must enter a key.</div>
							<div class="alert alert-warning" *ngIf="manageArticlesForm.controls['key'].hasError('maxlength') && manageArticlesForm.controls['key'].touched">Length limit exceeded.</div>
							<div class="alert alert-warning" *ngIf="manageArticlesForm.controls['key'].hasError('minlength') && manageArticlesForm.controls['key'].touched">Add more characters.</div>
							<div class="alert alert-danger" *ngIf="keyErrorManage && manageArticlesForm.controls['key'].touched">Wrong VartaKey</div>
						</div>

						<div class="form-group text-center">
							<button class="btn btn-primary" type="submit" [disabled]="!manageArticlesForm.valid">Verify</button>
						</div>
									
						<div style="margin: 36px 0 10px 0;">Or, did you forget your VartaKey? <br/>Click below to reset it.</div>
						<button class="btn btn-grey" [routerLink]="'/' + username + '/reset-key'">Reset my VartaKey</button>
					</div>
				</form>

				<div class="col-md-8 col-md-offset-2" *ngIf="!accountAlreadyExists">
					<h1 class="intro-lead">Admin panel</h1>
					<p>No Varta account with the name '{{ username }}' found.</p>
					<div class="form-group col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">							
						<div style="margin: 20px 0 10px 0;">Let's change that.</div>
						<button class="btn btn-primary" [routerLink]="'/' + username + '/varta-key'">Create Account</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-content" *ngIf="accountAlreadyExists">
		<div class="container">
			<div class="row">
				

				<div class="col-md-10 col-md-offset-1" *ngIf="adminAuthenticated">
					<div class="row">
						<form [formGroup]="adminForm" (ngSubmit)="savePreferences()">
						

							<!--Main form-->
							<div class="col-md-8 col-md-push-3">		
								<h3>Preferences</h3>						
								<div class="form-group">
									<label for="authorName">Author's name <span class="text-warning"><strong>*</strong></span></label>
									<input type="text" class="form-control" formControlName="authorName" name="authorName" aria-describedby="authorName" placeholder="Author's name" [(ngModel)] = "authorName">
									<small class="form-text text-muted">Used {{ authorName | limitCharsForInput: '25' }} characters</small>
									<div class="alert alert-danger" *ngIf="adminForm.controls['authorName'].hasError('required') && adminForm.controls['authorName'].touched">You must enter a name.</div>
									<div class="alert alert-warning" *ngIf="adminForm.controls['authorName'].hasError('maxlength') && adminForm.controls['authorName'].touched">Length limit exceeded.</div>
									<div class="alert alert-warning" *ngIf="adminForm.controls['authorName'].hasError('minlength') && adminForm.controls['authorName'].touched">Add more characters.</div>
								</div>

								<div class="form-group">
									<label for="blogName">Blog name <span class="text-warning"><strong>*</strong></span></label>
									<input type="text" class="form-control" formControlName="blogName" name="blogName" aria-describedby="name" placeholder="Blog name" [(ngModel)] = "blogName">
									<small class="form-text text-muted">Used {{ blogName | limitCharsForInput: '15' }} characters</small>
									<div class="alert alert-danger" *ngIf="adminForm.controls['blogName'].hasError('required') && adminForm.controls['blogName'].touched">You must enter a name.</div>
									<div class="alert alert-warning" *ngIf="adminForm.controls['blogName'].hasError('maxlength') && adminForm.controls['blogName'].touched">Length limit exceeded.</div>
									<div class="alert alert-warning" *ngIf="adminForm.controls['blogName'].hasError('minlength') && adminForm.controls['blogName'].touched">Add more characters.</div>
								</div>

								<div class="form-group">
									<label for="heading">Blog heading <span class="text-warning"><strong>*</strong></span></label>
									<input type="text" class="form-control" formControlName="heading" name="heading" aria-describedby="heading" placeholder="Blog heading" [(ngModel)] = "blogHeading">
									<small class="form-text text-muted">Used {{ blogHeading | limitCharsForInput: '25' }} characters</small>
									<div class="alert alert-danger" *ngIf="adminForm.controls['heading'].hasError('required') && adminForm.controls['heading'].touched">You must enter a heading.</div>
									<div class="alert alert-warning" *ngIf="adminForm.controls['heading'].hasError('maxlength') && adminForm.controls['heading'].touched">Length limit exceeded.</div>
									<div class="alert alert-warning" *ngIf="adminForm.controls['heading'].hasError('minlength') && adminForm.controls['heading'].touched">Add more characters.</div>
								</div>

								<div class="form-group">
									<label for="subheading">Sub-heading <span class="text-warning"><strong>*</strong></span></label>
									<input type="text" class="form-control" formControlName="subheading" name="subheading" aria-describedby="subheading" placeholder="Blog subheading" [(ngModel)] = "blogSubheading">
									<small class="form-text text-muted">Used {{ blogSubheading | limitCharsForInput: '45' }} characters</small>
									<div class="alert alert-danger" *ngIf="adminForm.controls['subheading'].hasError('required') && adminForm.controls['subheading'].touched">You must enter a subheading.</div>
									<div class="alert alert-warning" *ngIf="adminForm.controls['subheading'].hasError('maxlength') && adminForm.controls['subheading'].touched">Length limit exceeded.</div>
									<div class="alert alert-warning" *ngIf="adminForm.controls['subheading'].hasError('minlength') && adminForm.controls['subheading'].touched">Add more characters.</div>
								</div>
							</div>

							<!--Options-->
							<div class="col-md-4 col-md-pull-9 animate-box-disabled">
								<h3>Review</h3>

								<div class="form-group text-left">
									<label for="key">VartaKey <span class="text-warning"><strong>*</strong></span></label>
									<input type="text" class="form-control" formControlName="key" aria-describedby="key" placeholder="Your current VartaKey">
									<div class="alert alert-danger" *ngIf="adminForm.controls['key'].hasError('required') && adminForm.controls['key'].touched">You must enter the key.</div>
									<div class="alert alert-warning" *ngIf="adminForm.controls['key'].hasError('maxlength') && adminForm.controls['key'].touched">Length limit exceeded.</div>
									<div class="alert alert-warning" *ngIf="adminForm.controls['key'].hasError('minlength') && adminForm.controls['key'].touched">Add more characters.</div>
								</div>

								<div class="form-group text-left">
									<hr/>
									<div style="margin: 20px 0 10px 0;">If everything looks good, click below to save the preferneces.</div>
									<button class="btn btn-primary" [disabled]="!adminForm.valid" (click)="savePreferences(adminForm)">Save</button>

									<div class="alert alert-success" *ngIf="userUpdated">Blog preferences updated</div>
									<div class="alert alert-danger" *ngIf="keyError">Wrong VartaKey inserted</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Manage articles-->
	<div class="cover text-center" *ngIf="accountAlreadyExists">
		<div class="container-fluid text-center card-heading">
			<div class="row">
				<!--Articles' thumbnails-->
				<div class="col-md-10 col-md-offset-1 text-left" *ngIf="adminAuthenticated">
					<h3 style="margin-top: 40px;">Your articles </h3>
					<p *ngIf="!adminAuthenticated || allArticles.length != 0">
						You can publish or publish your articles. You can also delete them if needed.<br/>
						This section also allows you to review and manage comments on your articles.
					</p>

					<p *ngIf="adminAuthenticated && allArticles.length == 0">You haven't written any articles yet.</p>
					<button *ngIf="adminAuthenticated && allArticles.length == 0" [routerLink]="'/' + username + '/add'" class="btn btn-primary">Add an article</button>

					<ul class="buttons-ul">
						<li class="buttons-li" *ngFor="let article of allArticles; let i = index">
							<div class="buttons-div" [ngClass]="{'published': article.published, 'unpublished': !article.published}">
								<!--Spinner-->
								<div class="buttons-busy text-center" *ngIf="isBusyPublishUnpublish[article._id] > 0">
									<i class="material-icons icon-busy">autorenew</i>
								</div>

								<!--Data-->
								{{ article.title | limitChars : 26 }}
								<p class="text-left buttons-li-p">
									<small>{{ article.published ? 'Published' : 'Unpublished' }}</small><br/>
									<small>{{ article.category}}, {{ (article.date / 1000 | amFromUnix) | amDateFormat:'LL'  }}</small>
								</p>

								<!--Action icons-->
								<div class="buttons text-right">
									<a [href]="'/' + username + article.link" target="_blank"><i class="material-icons button">open_in_new</i></a>
									<!--<i class="material-icons button" (click)="editArticle(article.link)">mode_edit</i>-->
									<i class="material-icons button" (click)="showComments(article.link)">comment<div *ngIf="hasUnreviewedComments[i]" class="dot"></div></i>
									<i class="material-icons button" (click)="publishArticle(article._id)" *ngIf="!article.published">cloud_queue</i>
									<i class="material-icons button" (click)="unpublishArticle(article._id)" *ngIf="article.published">cloud_off</i>
									<i class="material-icons button" (click)="deleteArticle(article._id)">delete_forever</i>
								</div>
							</div>
						</li>
					</ul>
				</div>


				<!--Manage comments panel-->
				<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 text-left" *ngIf="commentsVisible">
					<ul class="comments-ul" *ngFor="let article of manageCommentsArticle; let i = index">
						<!--Data-->
						<hr/>
						<div class="text-right" style="position: absolute; right: 60px;">
							<i (click)="refreshComments(article.link)" class="material-icons" style="cursor: pointer; margin-right: 14px;">cached</i>
							<i (click)="showComments('hide')" class="material-icons" style="cursor: pointer;">close</i>
						</div>

						<small> Manage comments for </small><br/>
						<h3>{{ article.title }}</h3>
						<p *ngIf="article.comments.all.length != 0">Click on a comment to toggle between 'Published' and 'Unpublished' state.</p>
						<p *ngIf="article.comments.all.length == 0">This article has no comments yet.</p>
						
						<li class="comments-li" *ngFor="let comment of article.comments.all; let j = index">
							<div class="comments-div" [ngClass]="{ 'published-comment' : comment.published, 'unpublished-comment' : !comment.published }">
								<span class="roboto"> {{ comment.published ? (comment.text | limitChars : 60) : comment.text }} </span>
								<p class="text-left comments-li-p">
									<small>{{ comment.published ? 'Published' : 'Unpublished' }}</small><br/>
								</p>
							</div>
							<div class="comments-buttons">
								<i class="material-icons comments-button" (click)="toggleCommentsPublished(comment._id, article._id, article.link)" *ngIf="!comment.published">cloud_queue</i>
								<i class="material-icons comments-button" (click)="toggleCommentsPublished(comment._id, article._id, article.link)" *ngIf="comment.published">cloud_off</i>
								<i class="material-icons comments-button" (click)="deleteComment(comment._id, article._id, article.link)">delete_forever</i>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<!--Manage data and account panel-->
				<div class="col-md-10 col-md-offset-1 text-left" *ngIf="adminAuthenticated">
					<hr style="margin-top: 60px;"/>
					<h3 style="margin-top: 20px;">Your data and account </h3>
					<p>
						You can make a backup and store it locally, so that you could restore your articles in case of an accidental delete.<br/>
						You can also temporarily disable your account. Your articles won't be deleted, but no one will able to access them.
					</p>
					
					<ul class="buttons-ul">
						<!--Backup articles-->
						<li class="buttons-li-backup" *ngIf="!adminAuthenticated || allArticles.length != 0">
							<div class="buttons-div">
								<!--Data-->
								Backup/Upload your data
								<p class="text-left buttons-li-p">
									<small>Download a JSON file with your articles' data.</small><br/>
									<small>Or, you can upload a JSON backup file.</small><br/>
								</p>

								<!--Action icons-->
								<div class="buttons text-right">
									<a [download]="'varta_backup_' + today" [href]="sanitize(backup_uri)"><i class="material-icons button">cloud_download</i></a>
									<!--<i (click)="fileChange(fileInput)" class="material-icons button">file_upload</i>
									<input type="file" #fileInput (change)="fileChange($event)" placeholder="Upload file" accept=".json">-->
								</div>
							</div>
						</li>
					
						<!--Disable account-->
						<li class="buttons-li-delete">
							<div class="buttons-div">
								<!--Spinner-->
								<div class="buttons-busy text-center" *ngIf="false">
									<i class="material-icons icon-busy">autorenew</i>
								</div>

								<!--Data-->
								Disable your account
								<p class="text-left buttons-li-p">
									<small>Disabling your account will make your all your articles inaccessible to other users.</small><br/>
									<small>You can always restore you account back to normal.</small><br/>
								</p>
								

								<!--Action icons-->
								<div class="buttons" style="height: 36px;">
									<label>Confirm?
										<input type="checkbox" [(ngModel)]="confirmDelete" style="margin-left: 6px;  margin-top: 4px;">
									</label>
									<span class="pull-right">
										<i *ngIf="confirmDelete" (click)="deleteAccount()" class="material-icons button">delete_forever</i> 
									</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>