	<div id="fh5co-main">
		<div class="fh5co-intro text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="intro-lead" *ngIf="!(user.heading)">Ready to create your blog?</h1>
						<h1 class="intro-lead" *ngIf="(user.heading)">{{ user.heading }}</h1>
						<p *ngIf="user.subheading" [innerHTML]="user.subheading"></p>
						<p *ngIf="!(user.subheading)">Get started by creating a Varta account.</p>
					</div>
				</div>
			</div>
		</div>

		<!--Articles thumbnails-->
		<div id="fh5co-portfolio">
			<!--If articles present-->
			<div *ngFor='let article of blog; let i = index;'>
				<app-thumbnail *ngIf="i < parameters.maxNoOfThumbnails"
					[data] = "article"
					[index] = "i"
					[username]="username"> 
				</app-thumbnail>

				<!--<div  [ngClass]="i % 2 != 0 ? 'fh5co-img-right' : ''" class="fh5co-portfolio-item">
					<div class="fh5co-portfolio-figure animate-box-disabled blur" *ngIf="article.image !== ''" [ngStyle]="{'background-image': 'url(' + article.image + ')'}"></div>
					<div class="fh5co-portfolio-figure animate-box-disabled blur" *ngIf="article.image === ''" [ngStyle]="{'background-image': 'url(' + dirs.images + 'work_1.jpg' + ')'}"></div>
					<div class="fh5co-portfolio-description">
						<h2>{{ article.title }}</h2>
						<p>{{ article.introduction }}</p>
						<p><button [routerLink]="'/' + username + article.link" class="btn btn-primary">Continue reading</button></p>
					</div>
				</div>-->
			</div>

			<!--If not signed in and no articles exists-->
			<div *ngIf="noArticles">
				<div class="fh5co-img-right" class="fh5co-portfolio-item">

					<div class="fh5co-portfolio-figure animate-box-disabled blur" [ngStyle]="{'background-image': 'url(' + dirs.images + 'varta.jpg' + ')'}"></div>
					<div class="fh5co-portfolio-description" style="padding: 50px 60px 44px 70px;" *ngIf="userAlreadyExists">
						<!--<h2>Hey {{ user.name == 'Anonymous' || '' || !(user.name) ? 'there.' : user.name }}</h2>-->
						<h2>Hey there.</h2>
						<div class="form-group">
							<p>
								Welcome to Varta.<br/>
								There are no articles in this blog yet.
							</p> 

							<p>
								If you are the admin of this blog, you can add one now.
							</p>
							<button [routerLink]="'/' + username + '/add'" class="btn btn-primary">Add an article</button>
						</div>
						
						<div class="form-group">
							<p>However, to add an article you will need a 'VartaKey'.</p>
							<button [routerLink]="'/' + username + '/varta-key'" class="btn btn-grey">Get a VartaKey</button>
						</div>
					</div>

					<!--If no account with the username exists-->
					<div class="fh5co-portfolio-description" style="padding: 50px 60px 44px 70px;" *ngIf="!userAlreadyExists">
						<h2>Hey there.</h2>
						<div class="form-group">
							<p>Welcome to Varta.<br/>
							You don't have a Varta account yet.</p>
						
							<p>To add an article you will need a 'VartaKey'. <br/>To get one, create a Varta account.</p>
							<button [routerLink]="'/' + username + '/varta-key'" class="btn btn-primary">Get a VartaKey</button>
						</div>
					</div>
				</div>
			</div>

			
		</div>
		<!--Article thumbnails END-->

		<!--Team-->
		<!--<div id="fh5co-team">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<h2 class="section-lead text-center">Leadership</h2>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
								<figure>
								<img src="../../../assets/images/user.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">
								</figure>
								<h3>Will Barrow</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<ul class="fh5co-social">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-github"></i></a></li>
								</ul> 	
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
								<figure>
								<img src="../../../assets/images/user_2.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">
								</figure>
								<h3>Max Conversion</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<ul class="fh5co-social">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-github"></i></a></li>
								</ul> 	
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
								<figure>
								<img src="../../../assets/images/user_3.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">
								</figure>
								<h3>Hanson Deck</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<ul class="fh5co-social">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-github"></i></a></li>
								</ul> 	
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
								<figure>
								<img src="../../../assets/images/user.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">
								</figure>
								<h3>Sue Shei</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<ul class="fh5co-social">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-github"></i></a></li>
								</ul> 	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->

		<!--Features-->
		<!--<div id="fh5co-services">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<h2 class="section-lead text-center">Features</h2>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-present"></i></div>
								<div class="fh5co-desc">
									<h3>100% Free</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>	
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-eye"></i></div>
								<div class="fh5co-desc">
									<h3>Retina Ready</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-crop"></i></div>
								<div class="fh5co-desc">
									<h3>Fully Responsive</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>

							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-speedometer"></i></div>
								<div class="fh5co-desc">
									<h3>Lightweight</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>	
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-heart"></i></div>
								<div class="fh5co-desc">
									<h3>Made with Love</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-umbrella"></i></div>
								<div class="fh5co-desc">
									<h3>Eco Friendly</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
						</div>
					</div>
				</div>
			</div>
		</div>-->

	</div>

<!--Spinner-->
<div class="loading" [@fadeInOut]="isBusy == 0 ? 'open' : 'closed'">
    <div class="loading-div-logo">
        <img class="loading-logo" [src]="dirs.images + 'logo.png'">
    </div>
</div>