
<!--Spinner-->
<div class="loading" *ngIf="showSpinner">
    <div class="loading-div-logo">
        <img class="loading-logo" [src]="dirs.images + 'logo.png'">
    </div>
</div>

<div id="fh5co-main" *ngIf="data != undefined">
	<div class="cover" [ngStyle]="{'background-image': 'url(' + data.image + ')', 'background-position': 'center center'}">
		<div class="container-fluid text-center card-heading">
			<div class="row">
				<div class="col-md-12">
					<h1 class="intro-lead">{{ data.title }}</h1>
					<p class="">Written by <a target="_blank">{{ data.author }}</a></p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-3 col-md-push-9 animate-box-disabled">
							<h3>Summary</h3>
							<p class="text-justify">{{ data.introduction }}</p>
							<p>
								<small>Category:</small><br/>
								<span class="accent">{{ data.category }}</span><br/>
							</p>
							<p>
								<small>Status:</small><br/>
								<span class="accent">{{ data.published ? 'Published' : 'Unpublished' }}</span><span *ngIf="data.published"> on {{ (data.date / 1000 | amFromUnix) | amDateFormat:'LL' }} </span><br/>
							</p>
							<!--<ul class="fh5co-list-check">
								<li>{{ data.category }}</li>
							</ul>-->
						</div>

						<!--Article data-->
						<div class="col-md-9 col-md-pull-3" *ngIf="data.published">
							<!--Article text-->
							<p class="animate-box-disabled text-break text-justify roboto" [innerHTML]="data.text"></p>
							<br/><hr/>
							
							<!--Comments-->
							<h3>Comments</h3>
							<ul class="comments-ul">
								<li *ngIf="numberOfPublishedComments == 0 || data.comments.all.length == 0">No comments yet.</li>
								<li *ngFor="let comment of data.comments.all.reverse()">
									<div class="comments-li" *ngIf="comment.published">
										<span class="roboto text-break text-justify">{{ comment.text }}</span><br/><br/>
										<span class="comments-metadata">
											<small class="">Posted on {{ (comment.date / 1000 | amFromUnix) | amDateFormat:'LL' }}</small>
											<small class="">by {{ (!comment.commentor || comment.commentor == '') ? 'Anonymous' : comment.commentor }} </small>
										</span>
									</div>
								</li>
							</ul>
							
							<form [formGroup]="commentsForm" (ngSubmit)="onCommentSubmit()">
								<div class="form-group col-sm-12 col-md-12 col-lg-12">
									<br/><hr/>
									<label for="comment">Add a comment </label>
									<textarea type="text" class="form-control" rows="6" formControlName="comment" name="comment" [(ngModel)]="comment"></textarea>
									<small class="form-text text-muted">You have used {{ comment | limitCharsForInput : '1200' }} characters.</small>
								</div>
								<div class="form-group col-sm-6 col-md-6 col-lg-8">
									<label for="commentor">Your name </label>
									<input type="text" class="form-control" formControlName="commentor" placeholder="John Doe" name="commentor" [(ngModel)]="commentor">
								</div>
								<div class="form-group col-sm-12 col-md-12 col-lg-12">
									<button type="submit" [disabled]="!commentsForm.valid" class="btn btn-primary">Submit</button><br/>
									<small class="form-text text-muted">The comment will be reviewed before it goes live.</small><br/>
									<div class="alert alert-success" *ngIf="commentPosted">Comment posted. Comment will be live once it is reviewed.</div>
								</div>
							</form>
						</div>
						
						<!--If article is unpublished-->
						<div class="col-md-9 col-md-pull-3" *ngIf="!data.published">
							<h3>This article is unavailable</h3>
							<p class="animate-box-disabled text-break text-justify roboto">The article has been unpublished by the author.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!--<div id="fh5co-services">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<h2 class="section-lead text-center">Features</h2>
						<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
							<div class="fh5co-icon to-animate"><i class="icon-present"></i></div>
							<div class="fh5co-desc">
								<h3>100% Free</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>	
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
							<div class="fh5co-icon to-animate"><i class="icon-eye"></i></div>
							<div class="fh5co-desc">
								<h3>Retina Ready</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
						<div class="clearfix visible-sm-block visible-xs-block"></div>
						<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
							<div class="fh5co-icon to-animate"><i class="icon-crop"></i></div>
							<div class="fh5co-desc">
								<h3>Fully Responsive</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
							<div class="fh5co-icon to-animate"><i class="icon-speedometer"></i></div>
							<div class="fh5co-desc">
								<h3>Lightweight</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>	
						</div>
						<div class="clearfix visible-sm-block visible-xs-block"></div>
						<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
							<div class="fh5co-icon to-animate"><i class="icon-heart"></i></div>
							<div class="fh5co-desc">
								<h3>Made with Love</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
							<div class="fh5co-icon to-animate"><i class="icon-umbrella"></i></div>
							<div class="fh5co-desc">
								<h3>Eco Friendly</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
						<div class="clearfix visible-sm-block visible-xs-block"></div>
					</div>
				</div>
			</div>
		</div>
	</div>-->

</div>

<!--404 page-->
<app-404 *ngIf="data == undefined">
</app-404>