
<!--Spinner-->
<div class="loading" *ngIf="showSpinner">
    <div class="loading-div-logo">
        <img class="loading-logo" [src]="dirs.images + 'logo.png'">
    </div>
</div>

<div id="fh5co-main" *ngIf="data != undefined">
	<div class="cover" [ngStyle]="{'background-image': 'url(' + data.image + ')', 'background-position': 'center center'}">
		<div class="container-fluid text-center card-heading">
			<div class="row">
				<div class="col-md-12">
					<h1 class="intro-lead">{{ data.title }}</h1>
					<p class="">Written on {{ (data.date / 1000 | amFromUnix) | amDateFormat:'LL' }} by <a target="_blank">{{ data.author }}</a></p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-content">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-3 col-md-push-9 animate-box-disabled">
							<h3>Summary</h3>
							<p>{{ data.introduction }}</p>
							<small>Category:</small><br/>
							<span class="accent">{{ data.category }}</span>
							<!--<ul class="fh5co-list-check">
								<li>{{ data.category }}</li>
							</ul>-->
						</div>
						<div class="col-md-9 col-md-pull-3">
							<p class="animate-box-disabled text-break roboto">{{ data.text }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--<div id="fh5co-services">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<h2 class="section-lead text-center">Features</h2>
						<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
							<div class="fh5co-icon to-animate"><i class="icon-present"></i></div>
							<div class="fh5co-desc">
								<h3>100% Free</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>	
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
							<div class="fh5co-icon to-animate"><i class="icon-eye"></i></div>
							<div class="fh5co-desc">
								<h3>Retina Ready</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
						<div class="clearfix visible-sm-block visible-xs-block"></div>
						<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
							<div class="fh5co-icon to-animate"><i class="icon-crop"></i></div>
							<div class="fh5co-desc">
								<h3>Fully Responsive</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
							<div class="fh5co-icon to-animate"><i class="icon-speedometer"></i></div>
							<div class="fh5co-desc">
								<h3>Lightweight</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>	
						</div>
						<div class="clearfix visible-sm-block visible-xs-block"></div>
						<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
							<div class="fh5co-icon to-animate"><i class="icon-heart"></i></div>
							<div class="fh5co-desc">
								<h3>Made with Love</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
							<div class="fh5co-icon to-animate"><i class="icon-umbrella"></i></div>
							<div class="fh5co-desc">
								<h3>Eco Friendly</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
						<div class="clearfix visible-sm-block visible-xs-block"></div>
					</div>
				</div>
			</div>
		</div>
	</div>-->

</div>

<!--404 page-->
<app-404 *ngIf="data == undefined">
</app-404>