.accent{
    color: #f44;
    font-size: 16px;
}

.alert{
    padding: 4px 10px 4px 10px;
    margin-top: 10px;
    margin-bottom: 6px;
    width: 160px !important;
}

.center {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.card-heading{
    background: rgba(250, 250, 250, 0.90);
    padding: 60px;
    margin-bottom: 40px;
    transition: 1s all ease-in-out;
}

.card-heading:hover{
    background: rgba(250, 250, 250, 0.76);
}

.blur{
    -webkit-filter: blur(3px);
    -webkit-transform: translate3d(0, 0, 0);
    transition: 0.8s all ease-in-out;
}

.blur:hover{
    -webkit-filter: blur(0px);
    -webkit-transform: translate3d(0, 0, 0);
}

.cover{
    background-image : url('') no-repeat center center;
    background-size: cover;
    transition: 1s all ease-in-out;
}

.text-break{
     white-space: pre-line;
}

.roboto{
    font-family: "Roboto Slab", arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}


.comments-ul{
    list-style-type: none;
    width: auto;
    max-height : 800px;
    overflow-y: scroll;
}

.comments-li{
    margin: 12px;
	word-wrap: break-word;
    background: rgba(220, 220, 220, 0.2);
    padding: 10px 20px 0px 20px;
}

.comments-metadata{
    color: #ccc;
}
