<!--<div id="fh5co-main">
	
</div>-->


<div id="fh5co-main">
	<form>
		<div class="fh5co-intro text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="intro-lead">Add an article</h1>
						<p class="">Author: <a target="_blank">{{ author }}</a></p>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-content">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<!--Options-->
							<div class="col-md-3 col-md-push-9 animate-box-disabled">
								<h3>Review</h3>
								<div class="form-group">
									<ul class="fh5co-list-check">
										<li><small id="disclaimer" class="form-text text-muted">Article's identifier: <br/>{{ articleTitle | dashify}}</small></li>
										<li><small id="disclaimer" class="form-text text-muted">This article will be first reviewed by moderators before publishing. <br/>Check back in 24 hrs.</small></li>
									</ul>
								</div>

								<div class="form-group">
									<label for="key">Author secret key <span class="text-warning"><strong>*</strong></span></label>
									<input type="password" class="form-control" id="key" aria-describedby="key" placeholder="Your secret key">
								</div>

								<div class="form-group">
									<button type="submit" class="btn btn-primary">Publish</button>
								</div>
							</div>

							<div class="col-md-9 col-md-pull-3">
								<p class="animate-box-disabled">To add a new article, fill the data below and click on 'Publish'.</p>
								<div class="form-group">
									<label for="title">Title <span class="text-warning"><strong>*</strong></span></label>
									<input type="text" class="form-control" name="title" aria-describedby="title" placeholder="Article title" [(ngModel)] = "articleTitle">
									<small id="articleIntroduction" class="form-text text-muted">Used {{ articleTitle | limitChars: '35' }} characters</small>
								</div>

								<div class="form-group">
									<label for="article">Article introduction <span class="text-warning"><strong>*</strong></span></label>
									<textarea class="form-control" name="article" rows="4" [(ngModel)] = "articleIntroduction"></textarea>
									<small id="articleIntroduction" class="form-text text-muted">Used {{ articleIntroduction | limitChars: '200' }} characters</small>
								</div>

								<div class="form-group">
									<label for="article">Article text <span class="text-warning"><strong>*</strong></span></label>
									<textarea class="form-control" name="article" rows="16" [(ngModel)] = "articleText"></textarea>
									<small id="articleIntroduction" class="form-text text-muted">Used {{ articleText | limitChars: 'Infinite' }} characters</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>