
<div id="fh5co-main">
	<form [formGroup]="articleForm" (ngSubmit)="onNewArticleSubmit($event)">
		<div class="cover" [ngStyle]="{'background-image': 'url(' + dirs.images + 'varta.jpg' + ')', 'background-position': 'center center'}">
			<div class="container-fluid text-center card-heading">
				<div class="col-md-8 col-md-offset-2" *ngIf="accountAlreadyCreated">
					<h1 class="intro-lead">Add an article</h1>
					<p class="">Author: <a *ngIf="user.name == '' || !(user.name)" target="_blank">Anonymous</a><a *ngIf="user.name != ''">{{ user.name }}</a></p>
				</div>

				<div class="col-md-8 col-md-offset-2" *ngIf="!accountAlreadyCreated">
					<h1 class="intro-lead">Add an article</h1>
					<p>No Varta account with the name '{{ username }}' found. <br/>You need a Varta account to add articles.</p>
					<div class="form-group col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">							
						<div style="margin: 20px 0 10px 0;">Let's change that.</div>
						<button class="btn btn-primary" [routerLink]="'/' + username + '/varta-key'">Create Account</button>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-content" *ngIf="accountAlreadyCreated">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							

							<!--Main form-->
							<div class="col-md-8 col-md-push-3">
								<p class="animate-box-disabled">To add a new article, fill the data below and click on 'Publish'.</p>
								<!--Title-->
								<div class="form-group">
									<label for="title">Title <span class="text-warning"><strong>*</strong></span></label>
									<input type="text" class="form-control" formControlName="title" name="title" aria-describedby="title" placeholder="Article title" [(ngModel)] = "articleTitle">
									<small class="form-text text-muted">Used {{ articleTitle | limitCharsForInput: '55' }} characters</small>
									<div class="alert alert-danger" *ngIf="articleForm.controls['title'].hasError('required') && articleForm.controls['title'].touched">You must enter a title.</div>
									<div class="alert alert-danger" *ngIf="articleForm.controls['title'].hasError('maxlength') && articleForm.controls['title'].touched">Length limit exceeded.</div>
									<div class="alert alert-danger" *ngIf="articleForm.controls['title'].hasError('minlength') && articleForm.controls['title'].touched">Add more characters.</div>
									
								</div>

								<!--Introduction-->
								<div class="form-group">
									<label for="article">Article introduction <span class="text-warning"><strong>*</strong></span></label>
									<textarea class="form-control" formControlName="introduction" name="articleIntroduction" rows="4" [(ngModel)] = "articleIntroduction"></textarea>
									<small class="form-text text-muted">Used {{ articleIntroduction | limitCharsForInput: '400' }} characters</small>
									<div class="alert alert-danger" *ngIf="articleForm.controls['introduction'].hasError('required') && articleForm.controls['introduction'].touched">You must enter an introduction.</div>
									<div class="alert alert-danger" *ngIf="articleForm.controls['introduction'].hasError('maxlength') && articleForm.controls['introduction'].touched">Length limit exceeded.</div>
									<div class="alert alert-danger" *ngIf="articleForm.controls['introduction'].hasError('minlength') && articleForm.controls['introduction'].touched">Add more characters.</div>
								</div>

								<!--Text-->
								<div class="form-group">
									<label for="article">Article body <span class="text-warning"><strong>*</strong></span></label>
									<textarea class="form-control" formControlName="text" name="articleText" rows="16" [(ngModel)] = "articleText"></textarea>
									<small class="form-text text-muted">Used {{ articleText | limitCharsForInput: 'Infinite' }} characters</small>
									<div class="alert alert-danger" *ngIf="articleForm.controls['text'].hasError('required') && articleForm.controls['text'].touched">You must enter a body.</div>
									<div class="alert alert-danger" *ngIf="articleForm.controls['text'].hasError('maxlength') && articleForm.controls['text'].touched">Length limit exceeded.</div>
									<div class="alert alert-danger" *ngIf="articleForm.controls['text'].hasError('minlength') && articleForm.controls['text'].touched">Add more characters.</div>
								</div>

								<!--Image-->
								<div class="form-group">
									<label for="articleImage">Image </label>
									<input (keyup)="hidePreview()" type="text" class="form-control" formControlName="image" name="articleImage" [(ngModel)]="imageGallery">
									<small class="form-text text-muted">Add URL of the image you want.</small>
									<br/>

									<!--Preview-->
									<div class="alert alert-success" *ngIf="previewVisible">
										Image URL added.
										<!--<br/><br/>
										Preview:<br/>
										<img style="margin: 4px 10px 20px 10px; " [src]="imageGallery"  height="150px">-->
									</div>

									<br/>
									<button class="btn btn-primary" *ngIf="!galleryVisible" (click)="showGallery()">See Gallery</button>

									<div id="scroll" class="flexcroll" *ngIf="galleryVisible">
										<ul>
											<li><a (click)="setGalleryImage(gallery[0])"><img [src]="dirs.images + 'gallery/1.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[1])"><img [src]="dirs.images + 'gallery/2.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[2])"><img [src]="dirs.images + 'gallery/3.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[3])"><img [src]="dirs.images + 'gallery/4.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[4])"><img [src]="dirs.images + 'gallery/5.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[5])"><img [src]="dirs.images + 'gallery/6.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[6])"><img [src]="dirs.images + 'gallery/7.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[7])"><img [src]="dirs.images + 'gallery/8.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[8])"><img [src]="dirs.images + 'gallery/9.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[9])"><img [src]="dirs.images + 'gallery/10.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[10])"><img [src]="dirs.images + 'gallery/11.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[11])"><img [src]="dirs.images + 'gallery/12.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[12])"><img [src]="dirs.images + 'gallery/13.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[13])"><img [src]="dirs.images + 'gallery/14.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[14])"><img [src]="dirs.images + 'gallery/15.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[15])"><img [src]="dirs.images + 'gallery/16.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[16])"><img [src]="dirs.images + 'gallery/17.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[17])"><img [src]="dirs.images + 'gallery/18.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[18])"><img [src]="dirs.images + 'gallery/19.jpg'" alt=""></a></li>
											<li><a (click)="setGalleryImage(gallery[19])"><img [src]="dirs.images + 'gallery/20.jpg'" alt=""></a></li>
										</ul>
									</div>
								</div>								
							</div>

							<!--Options-->
							<div class="col-md-4 col-md-pull-9 animate-box-disabled">
								<h3>Review</h3>
								<div class="form-group">
									<ul class="fh5co-list-check">
										<li><small id="disclaimer" class="form-text text-muted">Article's identifier: <br/>{{ articleTitle | dashify}}</small></li>
										<li>
											<small id="disclaimer" class="form-text text-muted">
												Permalink: <br/>
												<a *ngIf="(articleTitle | dashify) != 'N/A'" class="wrap-word" style="padding-right: 10px;">{{ origin }}/{{ username }}/{{ articleTitle | dashify}}</a>
												<a *ngIf="(articleTitle | dashify) == 'N/A'">N/A</a>
											</small>
										</li>
									</ul>
								</div>

								<!--Category-->
								<div class="btn-group">
									<label for="category">Select a category <span class="text-warning"><strong>*</strong></span></label>
									<button type="button" class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="category">{{ category }}</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" (click)="selectCategory('Journal')">Journal</a>
										<a class="dropdown-item" (click)="selectCategory('Opinion')">Opinion</a>
										<a class="dropdown-item" (click)="selectCategory('Politics')">Politics</a>
										<a class="dropdown-item" (click)="selectCategory('Travel')">Travel</a>
										<a class="dropdown-item" (click)="selectCategory('Food')">Food</a>
										<a class="dropdown-item" (click)="selectCategory('Academics')">Academics</a>
										<a class="dropdown-item" (click)="selectCategory('Fitness')">Fitness</a>
										<a class="dropdown-item" (click)="selectCategory('Sports')">Sports</a>
										<a class="dropdown-item" (click)="selectCategory('Skills')">Skills</a>
										<a class="dropdown-item" (click)="selectCategory('How-to')">How-to</a>
									</div>
								</div>

								<!--VartaKey-->
								<div class="form-group">
									<label for="key">Author VartaKey <span class="text-warning"><strong>*</strong></span></label>
									<input type="password" class="form-control" formControlName="key" aria-describedby="key" placeholder="Your secret key">
									<div class="alert alert-danger" *ngIf="articleForm.controls['key'].hasError('required') && articleForm.controls['key'].touched">You must enter the key.</div>
									<div class="alert alert-danger" *ngIf="articleForm.controls['key'].hasError('maxlength') && articleForm.controls['key'].touched">Length limit exceeded.</div>
									<div class="alert alert-danger" *ngIf="articleForm.controls['key'].hasError('minlength') && articleForm.controls['key'].touched">Add more characters.</div>
									
									<div style="margin: 20px 0 10px 0;">If you don't have one, click below</div>
									<button [routerLink]="'/' + username + '/varta-key'" class="btn btn-grey">Get a VartaKey</button>
								</div>

								<!--Submit-->
								<div class="form-group">
									<div style="margin: 0 0 10px 0;">Everything looks good?</div>
									<button type="submit" class="btn btn-primary" [disabled]="!articleForm.valid">Publish</button>
									<div class="alert alert-danger" *ngIf="keyError">You entered wrong VartaKey</div>
								</div>
							</div>

							
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>