<div id="fh5co-main">
	<div class="cover" [ngStyle]="{'background-image': dirs.images + '/work_1.jpg', 'background-position': 'center center'}">
		<div class="container-fluid text-center card-heading">
			<div class="row">
				<div class="col-md-12">
					<img [src]="dirs.images + '404.png'" class="img-responsive center-block" style="margin-top: 40px; margin-bottom: 40px;"><br/>
					<h2>This page doesn't exists.</h2>
					<h4>But don't worry, you most probably mistyped the URL. This has happened to the best of us.</h4>
					
					<p>So, ensure you typed in the blog URL correctly, or mail the developer at piyushagade@gmail.com</p>
					<p><a class="pointer" onclick="window.history.go(-1);"> Go back</a></p>
				</div>
			</div>
		</div>
	</div>
</div>