	<div id="fh5co-main">
		<div class="fh5co-intro text-center">
			<div class="container">
				<div class="row">
					<!--If user does not exist-->
					<div class="col-md-8 col-md-offset-2" *ngIf="!accountAlreadyCreated">
						<h1 class="intro-lead">Reset VartaKey</h1>
						<p>No Varta account with the name '{{ username }}' found. </p>
						<div class="form-group col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">							
							<div style="margin: 20px 0 10px 0;">Let's change that.</div>
							<button class="btn btn-primary" [routerLink]="'/' + username + '/varta-key'">Create Account</button>
						</div>
					</div>

					<!--If user exists-->
					<div class="col-md-8 col-md-offset-2 text-center" *ngIf="accountAlreadyCreated">						
						<form [formGroup]="resetForm" (ngSubmit)="onReset(email)">
							<h1 class="intro-lead">Forgot your VartaKey?</h1>
							<p>Don't worry. We got your back. <br/>Type in the email you registered Varta with and we will email the VartaKey to you.</p>
							<div class="alert alert-success" *ngIf="emailSent">Email has been sent.</div>
							<div class="alert alert-warning" *ngIf="emailError">The email you entered isn't associated with your account.</div>

							<div class="form-group col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">	
									<!--User email-->
									<div  class="form-group">
										<label for="email" style="margin: 10px 0 10px 0;">Your email </label>
										<input email type="text" class="form-control text-center" formControlName="email" aria-describedby="email" placeholder="batman@who.com" [(ngModel)]="email">
										<div class="alert alert-danger" *ngIf="resetForm.controls['email'].hasError('required') && resetForm.controls['email'].touched">You must enter an email.</div>
										<div class="alert alert-warning" *ngIf="resetForm.controls['email'].hasError('maxlength') && resetForm.controls['email'].touched">Length limit exceeded.</div>
										<div class="alert alert-warning" *ngIf="(resetForm.controls['email'].hasError('minlength') && resetForm.controls['email'].touched) || notEnoughCharsError">Add more characters.</div>
										<div class="alert alert-danger" *ngIf="!resetForm.controls['email'].valid && resetForm.controls['email'].touched">Invalid email.</div>
										<small class="form-text text-muted">Used {{ email | limitCharsForInput: '50' }} characters</small>
									</div>

									<!--Buttons-->
									<div class="form-group">
										<div style="margin: 18px 0 10px 0;">Click below to continue.</div>
										<button type="submit" class="btn btn-primary" [disabled]="!resetForm.valid">Email me VartaKey</button>
										
										<button [routerLink]="'/' + username + '/home'" class="btn btn-grey">Home Page</button>
									</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<!--Team-->
		<!--<div id="fh5co-team">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<h2 class="section-lead text-center">Leadership</h2>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
								<figure>
								<img src="../../../assets/images/user.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">
								</figure>
								<h3>Will Barrow</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<ul class="fh5co-social">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-github"></i></a></li>
								</ul> 	
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
								<figure>
								<img src="../../../assets/images/user_2.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">
								</figure>
								<h3>Max Conversion</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<ul class="fh5co-social">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-github"></i></a></li>
								</ul> 	
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
								<figure>
								<img src="../../../assets/images/user_3.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">
								</figure>
								<h3>Hanson Deck</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<ul class="fh5co-social">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-github"></i></a></li>
								</ul> 	
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
								<figure>
								<img src="../../../assets/images/user.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">
								</figure>
								<h3>Sue Shei</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<ul class="fh5co-social">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-github"></i></a></li>
								</ul> 	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->

		<!--Features-->
		<!--<div id="fh5co-services">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<h2 class="section-lead text-center">Features</h2>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-present"></i></div>
								<div class="fh5co-desc">
									<h3>100% Free</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>	
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-eye"></i></div>
								<div class="fh5co-desc">
									<h3>Retina Ready</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-crop"></i></div>
								<div class="fh5co-desc">
									<h3>Fully Responsive</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>

							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-speedometer"></i></div>
								<div class="fh5co-desc">
									<h3>Lightweight</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>	
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-heart"></i></div>
								<div class="fh5co-desc">
									<h3>Made with Love</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-umbrella"></i></div>
								<div class="fh5co-desc">
									<h3>Eco Friendly</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
						</div>
					</div>
				</div>
			</div>
		</div>-->

	</div>