	<div id="fh5co-main">
		<div class="fh5co-intro text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2" *ngIf="!accountAlreadyCreated && key == ''">
						<h1 class="intro-lead">Get a VartaKey</h1>
						<p>Fill in the form to get your own VartaKey</p>

						<form [formGroup]="userForm" (ngSubmit)="onUserNameSubmit(newUsername)">
								<!--Username-->
								<div class="form-group col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
									<label for="username" style="margin: 40px 0 10px 0;">Enter a username </label>
									<input autocomplete="off" type="text" class="form-control text-center" formControlName="username" aria-describedby="username" placeholder="bruce-wayne" (keyup)="onUsernameChange(newUsername)" [(ngModel)]="newUsername">
									<div class="alert alert-danger" *ngIf="userForm.controls['username'].hasError('required') && userForm.controls['username'].touched">You must enter a username.</div>
									<div class="alert alert-warning" *ngIf="userForm.controls['username'].hasError('maxlength') && userForm.controls['username'].touched">Length limit exceeded.</div>
									<div class="alert alert-warning" *ngIf="(userForm.controls['username'].hasError('minlength') && userForm.controls['username'].touched) || notEnoughCharsError">Add more characters.</div>
									<div class="alert alert-success" *ngIf="available && userForm.valid">Username available</div>
									<div class="alert alert-danger" *ngIf="!available && userForm.valid">Username already taken.</div>
									<small class="form-text text-muted">Used {{ newUsername | limitCharsForInput: '20' }} characters</small>
									
									<div style="margin: 60px 0 10px 0;">All set? Click below.</div>
									<button type="submit" class="btn btn-primary" [disabled]="!userForm.valid || !available || newUsername == ''">Next Step</button>
									
									<div style="margin: 36px 0 10px 0;">Or, did you forget your VartaKey?</div>
									<button [routerLink]="'/' + username + '/reset-key'" class="btn btn-grey">Reset my VartaKey</button>
								</div>
						</form>
					</div>

					<div class="col-md-8 col-md-offset-2" *ngIf="!accountAlreadyCreated && key != ''">
						<h1 class="intro-lead">Congrats!</h1>
						<p>You have successfully created a Varta account</p>

						<form [formGroup]="userForm">
								<!--Username-->
								<div class="form-group col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
									<label for="username" style="margin: 40px 0 10px 0;">Your VartaKey is </label>
									<p class="key accent">{{ key }}</p>
									<small class="form-text text-muted">Keep it safe, don't share it with anyone.</small>
									
									<div style="margin: 80px 0 10px 0;">Great, click below to change the name, heading, and sub-heading of your blog.</div>
									<button style="margin: 40px 0 10px 0;" [disabled]="!userCreated" class="btn btn-primary" [routerLink]="'/' + username + '/admin'">Proceed</button>
<!--
									<div style="margin: 80px 0 10px 0;">Ready to write your first article?</div>
									<button class="btn btn-primary" [routerLink]="'/' + username + '/add'">Hell yeah!</button>-->
								</div>
						</form>
					</div>

					<div class="col-md-8 col-md-offset-2" *ngIf="accountAlreadyCreated">
						<h1 class="intro-lead">Is there a problem?</h1>
						<p>You already have Varta account. And you should have a VartaKey.</p>
						<div class="form-group col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">							
							<div style="margin: 20px 0 10px 0;">If you landed here by mistake</div>
							<button class="btn btn-primary" [routerLink]="'/' + username + '/home'">Home Page</button>
									
							<div style="margin: 60px 0 10px 0;">Or, did you forget your VartaKey? <br/>Click below to reset it.</div>
							<button class="btn btn-grey" [routerLink]="'/' + username + '/reset-key'">Reset my VartaKey</button>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!--Team-->
		<!--<div id="fh5co-team">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<h2 class="section-lead text-center">Leadership</h2>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
								<figure>
								<img src="../../../assets/images/user.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">
								</figure>
								<h3>Will Barrow</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<ul class="fh5co-social">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-github"></i></a></li>
								</ul> 	
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
								<figure>
								<img src="../../../assets/images/user_2.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">
								</figure>
								<h3>Max Conversion</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<ul class="fh5co-social">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-github"></i></a></li>
								</ul> 	
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
								<figure>
								<img src="../../../assets/images/user_3.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">
								</figure>
								<h3>Hanson Deck</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<ul class="fh5co-social">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-github"></i></a></li>
								</ul> 	
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
								<figure>
								<img src="../../../assets/images/user.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">
								</figure>
								<h3>Sue Shei</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								<ul class="fh5co-social">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-github"></i></a></li>
								</ul> 	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->

		<!--Features-->
		<!--<div id="fh5co-services">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<h2 class="section-lead text-center">Features</h2>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-present"></i></div>
								<div class="fh5co-desc">
									<h3>100% Free</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>	
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-eye"></i></div>
								<div class="fh5co-desc">
									<h3>Retina Ready</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-crop"></i></div>
								<div class="fh5co-desc">
									<h3>Fully Responsive</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>

							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-speedometer"></i></div>
								<div class="fh5co-desc">
									<h3>Lightweight</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>	
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-heart"></i></div>
								<div class="fh5co-desc">
									<h3>Made with Love</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-umbrella"></i></div>
								<div class="fh5co-desc">
									<h3>Eco Friendly</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
						</div>
					</div>
				</div>
			</div>
		</div>-->

	</div>